.container *{
  width : 100%;
  max-width : 1200px;
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear:both;
}

.outline, .outline *{
  outline: 1px solid #F6A1A1; 
}

[class*='col-'] > p {
background-color: #FF3010; 
  padding: 0;
  margin: 0;
  height: 50px;
  text-align: center; 
  color: white; 
}
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 8.33%
  padding: 12px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}