main{
  background: #f7e6ff;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  }
  #nav {
    background: #f7e6ff;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    }