nav a {
  text-decoration: none;
  color: #ff6699;
  transition: .5s;
  }
  
  nav a:hover{
  color: black;
  font-size: 30px;
  }
  
  #nav {
  background: #f7e6ff;
  display: flex;
  }

  main{
    background: #f7e6ff;
    }

    #foot{
      background: #f7e6ff;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      }
      </style>